/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: rgb(24, 24, 23);
    display: flex;
    flex-direction: column;
    margin: 0;
}


header {
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(124, 33, 68);
    color: rgb(231, 220, 220)
}

main {
    margin-top: 30px;
}

.result-container {
    text-align: center;
    font-size: 2rem;
    color: rgb(231, 220, 220);
}

.result-message {
    margin-top: 20px;
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.score-box {
    text-align: center;
    font-size: 2rem;
    color: rgb(231, 220, 220);
}

.sign {
    font-size: 5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn-sqr {
    border: 4px solid;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
    margin-top: 50px;
    background-color: rgb(124, 33, 68);
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.btn-sqr:hover {
    transform: scale(1.2);
    background-color: rgb(170, 17, 76);
}

.endgame-text {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    color: rgb(231, 220, 220);
}

.replay {
    background: none;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 50px;
    background-color: rgb(124, 33, 68);
    border-radius: 15px;
    height: 50px;
    width: 150px;
    color: white;
    visibility: hidden;
}

.replay:hover {
    transform: scale(1.2);
    background-color: rgb(209, 27, 27);
}

footer {
    margin-top: auto;
    color: white;
    background-color: rgb(124, 33, 68);
    text-align: center;
    padding: 2px;
}