body {
    background-color: bisque;
}


header {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.scoreboard {
    text-align: center;
    font-size: 1.5rem;
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn-sqr {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
    margin-top: 50px;
}

.btn-sqr:hover {
    transform: scale(1.4);
}

.score-box {
    text-align: center;
    font-size: 2rem;
}

.modal {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}

/* .selections {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.select {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
}

.selections :hover {
    transform: scale(1.4);
}  */