* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
}


header {
    text-align: center;
    font-size: 1.5rem;
    background-color: brown;
    padding: 20px
}

main {
    margin-top: 30px;
}

.result-container {
    text-align: center;
    font-size: 1.5rem;
}

.score-box {
    text-align: center;
    font-size: 2rem;
}

.score-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.sign {
    font-size: 5rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.btn-sqr {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
    margin-top: 50px;
    background-color: brown;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.btn-sqr:hover {
    transform: scale(1.4);
}

.endgame-text {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
}

/* .selections {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.select {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 5rem;
    transition: 100ms;
}

.selections :hover {
    transform: scale(1.4);
}  */